<%- include('partials/header') %>


<div class="text-center button">
    <a class="btn btn-success btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-success btn-lg" href="/login" role="button">Login</a>
</div>


<%- include('partials/footer') %>
