<%- include('partials/header1') %>

<div class="jumbotron text-center">
  <div class="container">

<% usersWithSecrets.forEach(function(user){ %>
  <ul>
    <li class="secret-text"><%=user.secret%></li>
  </ul>
<%}) %>
    <hr>
  </div>
  <a class="btn btn-success btn-lg" href="/logout" role="button">Log Out</a>
  <a class="btn btn-success btn-lg" href="/submit" role="button">Enter Transporter Details</a>
</div>

<%- include('partials/footer1') %>
