<%- include('partials/header1') %>

<div class="container">
  <div class="jumbotron centered">
    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="Enter Transporter Details">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
<%- include('partials/footer1') %>
